@model _3_Patitos_S.A.Models.Persona

@{
    ViewData["Title"] = "Registarse";
}

<h1>Registarse</h1>

<h4>Ingrese los datos solicitados</h4>
<hr class="hr-gold" style="height: 3px" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registarse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="col-form-label">Id de la Persona</label>
                <input asp-for="Id_Persona" class="form-control" type="text" />
                <span asp-validation-for="Id_Persona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Nombre Completo</label>
                <input asp-for="Nombre_Persona" class="form-control" />
                <span asp-validation-for="Nombre_Persona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Fecha de nacimiento</label>
                <input asp-for="Fecha_Nacimiento" class="form-control" type="date" max="2010-01-01" min="1900-01-01" />
                <span asp-validation-for="Fecha_Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Direccion</label>
                <textarea asp-for="Direccion" class="form-control"></textarea>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Numero de Telefono</label>
                <input asp-for="Telefono" class="form-control" type="text" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Correo electronico</label>
                <input asp-for="Correo" class="form-control" type="email" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Contraseña</label>
                <input asp-for="Contrasena" class="form-control" type="password" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Confirmar contraseña</label>
                <input class="form-control" type="password" name="password" required />
                @if (ViewData["Error"] != null)
                {
                    <span class="text-danger">@ViewData["Error"]</span>
                }
            </div>
            <div class="form-group d-block m-3">
                <a asp-action="Login" asp-controller="Acceso" class="btn btn-secondary">Cancelar</a>
                <input type="submit" value="Registrarse" class="btn orange text-white" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
