@model _3_Patitos_S.A.Models.Tipo_Entrega

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tipo_Entrega</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Entrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Entrega)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Entrega">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
