################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3 Patitos S.A/3 Patitos S.A/appsettings.json
/3 Patitos S.A/.vs/3 Patitos S.A/FileContentIndex
/3 Patitos S.A/3 Patitos S.A/.vscode
