@{
    ViewData["Title"] = "Acerca de nosotros";
}
<h1>@ViewData["Title"]</h1>

<div class="container py-5">
    <h3 class="mb-4">¿Quiénes somos?</h3>
    <p class="lead mb-4">Patitos S.A es una empresa dedicada a la distribución de productos importados de otros países y productos producidos por proveedores nacionales. Fundada en el año 2009, la empresa ha establecido una amplia red de proveedores en todo el mundo, lo que le permite ofrecer una amplia gama de productos a sus clientes.</p>
    <p class="lead mb-4">La empresa se enfoca en garantizar la calidad de sus productos, por lo que trabaja con proveedores confiables y realiza rigurosos controles de calidad en cada etapa del proceso de distribución. Además, cuenta con un equipo de profesionales altamente capacitados que se encargan de la logística, almacenamiento y distribución de los productos.</p>
    <p class="lead mb-4">El producto que distribuye 3 Patitos S.A son los patitos de goma y muchas de sus variantes. La empresa tiene una amplia presencia en el mercado nacional, y sus productos son altamente reconocidos por su calidad y variedad.</p>
    <p class="lead ">En 3 Patitos S.A creemos en la satisfacción de nuestros clientes, por lo que nos esforzamos cada día para mejorar nuestro servicio y ofrecer productos de alta calidad a precios competitivos. Si estás buscando productos importados o de proveedores nacionales, no dudes en contactarnos y estaremos encantados de atenderte.</p>
    <hr class="hr-gold" style="height: 3px" />
</div>
<div class="container">
    <h3 class="mb-4">Misión y Visión</h3>
    <h5 class="mb-4">Misión</h5>
    <p class="lead mb-4">Ser un proveedor de confianza para los clientes, brindando productos de calidad.</p>

    <h5 class="mb-4">Visión</h5>
    <p class="lead mb-4">Ser la empresa distribuidora de productos N°1 en Heredia.</p>
    <hr class="hr-gold" style="height: 3px" />
</div>
<div class="container">
    <h3 class="mb-4">Ubicación</h3>
    <p class="lead mb-4">Estamos ubicados en Plaza Las Rosas, San Joaquín de Flores en Heredia.</p>
    <div id="map"></div>
    <hr class="hr-gold" style="height: 3px" />
</div>
<div class="container">
    <h3 class="mb-4">Contactos</h3>
    <p class="lead mb-4">Llamanos al 20564211</p>
    <p class="lead mb-4">Escribanos al consultas@trespatitos.com</p>
</div>